.modal__change__date {
  .ant-modal-content {
    width: 758px;
    height: 365px;
    background: #ffffff;
    border-radius: 16px;
  }
  .ant-form-item {
    margin-bottom: 17px !important;
  }
  .title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #1e0d03;
  }
  .label {
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #1e0d03;
    opacity: 0.7;
  }
  .content {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #1e0d03;
    opacity: 0.7;
  }
  .ant-col {
    margin-bottom: 17px;
  }
  .btn-cancel {
    width: 160px;
    height: 48px;
    border: 1px solid #ff993c;
    border-radius: 8px;
    span {
      font-weight: 700;
      font-size: 18px;
      line-height: 26px;
      color: #ff993c;
    }
  }
  .btn-save {
    width: 160px;
    height: 48px;
    background: #ff993c;
    border-radius: 8px;
    span {
      font-weight: 700;
      font-size: 18px;
      line-height: 26px;
      color: #ffffff;
    }
  }
  .ant-picker {
    width: 141px;
    height: 40px;
    border: 1px solid #a5a8b1;
    border-radius: 8px;
  }
  .anticon-calendar {
    color: #ff993c;
    font-size: 20px;
  }
}
