.modal__update_ticket-package {
  .note {
    .text-required {
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: #1e0d03;
      opacity: 0.4;
    }
  }
  .ma-goi-ve {
    width: 245px;
    height: 40px;
    border: 1px solid #a5a8b1;
    border-radius: 8px;
  }
  .ten-su-kien {
    width: 367px;
    height: 40px;
    border: 1px solid #a5a8b1;
    border-radius: 8px;
  }
  .title {
    padding: 24px 0 27px 0;
    display: flex;
    justify-content: center;
    span {
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      color: #1e0d03;
    }
  }
  .ant-form-item-label {
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #1e0d03;
    opacity: 0.7;
  }
  .ant-picker {
    width: 142px;
    height: 40px;
    border: 1px solid #a5a8b1;
    border-radius: 8px;
  }
  .anticon-clock-circle,
  .anticon-calendar {
    color: #ff993c;
  }
  .ten-goi-ve {
    width: 367px;
    height: 40px;
    border: 1px solid #a5a8b1;
    border-radius: 8px;
  }
  .ant-modal-content {
    width: 758px;
    height: 628px;
    background: #ffffff;
    border-radius: 16px;
  }
  .giaVeApDung {
    .input-giaVe {
      width: 148px;
      height: 40px;
      background: #f1f4f8;
      border-radius: 8px;
    }
    .input-soVe {
      width: 72px;
      height: 40px;
      background: #f1f4f8;
      border-radius: 8px;
    }
    .ant-form-item {
      margin-bottom: 0 !important;
    }
  }
  .container-tinh-trang {
    .select-tinhTrang {
      .ant-form-item-control-input-content,
      .ant-select-single,
      .ant-select-show-arrow,
      .ant-select,
      .ant-select-in-form-item,
      .ant-select-selector {
        display: flex;
        align-items: center;
        width: 176px;
        height: 40px;
        border: 1px solid #a5a8b1;
        border-radius: 8px;
      }
      .ant-select-arrow {
        color: #ff993c;
      }
    }
    .ant-form-item {
      margin-bottom: 0 !important;
    }
  }
  .btn-add {
    width: 160px;
    height: 48px;
    background: #ff993c;
    border-radius: 8px;
    span {
      font-weight: 700;
      font-size: 18px;
      line-height: 26px;
      color: #ffffff;
    }
  }
  .btn-cancel {
    width: 160px;
    height: 48px;
    border: 1px solid #ff993c;
    border-radius: 8px;
    span {
      font-weight: 700;
      font-size: 18px;
      line-height: 26px;
      color: #ff993c;
    }
  }
}
